/*Importamos el archivo de las fuentes CSS para poder utilizarlas en nuestro proyecto solo con la propiedad font-family: ...*/

@import url('fonts.css');
.box1{  /*background-image: linear-gradient(180deg, #d1a3fdb2 40%, #ffbdf5ea 80%);
*/
background-image: url(../img/fondo.png);
color: #000000;
background-position: left;
background-attachment: fixed;


}

#fotoperfil{
    width: 200px;
    border-radius: 30px;
    border-color: #000000;
    border-style: groove;
    float: left;
    
}
.titulo{
text-align: center;
}
#titulonombre{
    text-align: center;
}
#academica{ 
    margin-top: 100px;
    
    text-align: justify;
    align-self: center;
}
.containeraca{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
}
#sobremi{
    display: flexbox;
    color:#000000;
    padding-left: 5cm;
    padding-right: 5cm;
    
}
.caja1{
    align-items: center;
    align-self: center;
}

.title{
    text-align: center;
}
#acercademiparrafo{
    text-align: center;
    color:#000000;
    padding-top: 1cm;
    margin-left: 1cm;
    

}
#tituloSM{
    color:#000000;
    text-decoration:overline;
}

#logo{
    width: 120px;
}
#inicio{
    display: flex;
    background-image: url(../img/anders-jilden-uwbajDCODj4-unsplash.jpg);
    height: 700px;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgba(34, 82, 241, 0.822);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0px 4px 4px #282828;
    padding: 0;
}

.title{
    font-size:6ch;
    font-weight: 500;
    font-style: italic;
}

#contenedorbarra{
    display: flexbox;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 5%;
    height: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    z-index: 10000;
}
.nav-link.text{
    color: antiquewhite;
    
}
.nav-link.text:hover{
    color: #909cdd;
}
.navbar-brand.text{

    color:rgb(169, 82, 252);
    font-weight: 600;
}
.nav-item{
    margin-left: 1cm;
}
#carouselExampleCaptions{
    margin-top: 1cm;
    margin-right: 5cm;
    margin-left: 5cm;
    
}
.container-academica{
    display: flex;  
    align-items: center; 
}
/* seccion HABILIDADES */
.habilidades{
    color: #000000;
    padding: 60px 0;
    position: relative;
    top: -100px;
}
.habilidades h2{
    text-align: center;
}
.habilidades .contenedor-habi{
    max-width: 1100px;
    margin: auto;
}
.habilidades .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}
.box{
    background-image: linear-gradient(180deg, #e6abe175 40%, #f0baf5ea 80%);
}
#proyectos{
    color: #000000;
}
footer{
    background-color: #263486;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#ig{
    margin-right: 25px;
}
#lin{
    margin-right: 25px;
}





@media (max-width:991px) {
    
    .box1{
        padding: 0;
        
        width:fit-content;
        
    color: #000000;
    background-position: left;
    background-attachment: fixed;
    }
    #inicio{
        width:fit-content;
        background-image: url(../img/anders-jilden-uwbajDCODj4-unsplash.jpg);
        
    }
    #contenedorbarra{
    
        background-image: linear-gradient(180deg, #28282800 40%, #28282800 80%);
        z-index: 10000;
    }
    
    #sobremi{
        width:fit-content;
        align-items: center;
        align-content: center;

    }
    
    #acercademi{
        display: flex;
        align-self: center;
    }
    #titulonombre{
        display:flex ;
        float: center;
    }
    #fotoperfil{
        
        width: 300px;
        border-radius: 30px;
        border-color: #000000;
        border-style: groove;
        float: initial;
        align-self: center;
        margin-left: 20px;
    }
    .nav-link.text{
        color:#131f64;
        
    }
    #carouselExampleCaptions{
        margin: 0cm;
    }
    #acercademiparrafo{
        text-align: justify;
        font-size: 30px;
        
    }
    #academica{
        text-align: justify;
        font-size: 30px;

    }
    #ig{
        width: 50px;
    }
    #tuiter{
        width: 50px;
    }
    #lin{
        width: 50px;
    }
}