/*Importamos el archivo de las fuentes CSS para poder utilizarlas en nuestro proyecto solo con la propiedad font-family: ...*/

@import url('fonts.css');
.box{  background-image: linear-gradient(180deg, #977b93b2 40%, #977b93b2 80%);

}

#fotoperfil{
    width: 200px;
    border-radius: 30px;
    border-color: #000000;
    border-style: groove;
    float: left;
    
}
.titulo{
text-align: center;
}
#titulonombre{
    text-align: center;
}
#academica{ 
    margin-top: 100px;
}
#sobremi{
    display: flexbox;
    color:#fff;
    padding-left: 5cm;
    padding-right: 5cm;
    
}
.caja1{
    align-items: center;
    align-self: center;
}

.title{
    text-align: center;
}
#acercademiparrafo{
    text-align: center;
    color:#fff;
    padding-top: 1cm;
    margin-left: 1cm;
    

}
#tituloSM{
    color:#fff;
    text-decoration:overline;
}

#logo{
    width: 120px;
}
#inicio{
    background-image: url(../img/anders-jilden-uwbajDCODj4-unsplash.jpg);
    background-position: center center;
    height: 604px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgba(0, 102, 255, 0.527);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0px 4px 4px #282828;
}

.title{
    font-size:6ch;
    font-weight: 500;
    font-style: italic;
}

#barra{
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 5%;
    height: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.nav-link.text{
    color: antiquewhite;
    
}
.nav-link.text:hover{
    color: #909cdd;
}
.navbar-brand.text{

    color:rgb(169, 82, 252);
    font-weight: 600;
}
#carouselExampleCaptions{
    margin-top: 1cm;
    margin-right: 5cm;
    margin-left: 5cm;
    margin-bottom: 5cm;
}
/* seccion HABILIDADES */
.habilidades{
    color: #fff;
    padding: 60px 0;
    position: relative;
    top: -100px;
}
.habilidades h2{
    text-align: center;
}
.habilidades .contenedor-habi{
    max-width: 1100px;
    margin: auto;
}
.habilidades .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}
#proyectos{
    color: #fff;
}

.contacto{
    background:
        linear-gradient(rgba(0,12,103,1), rgba(0,12,103,.8)),
        url(img/foto-contacto.png);
        background-size: cover;
        color: #fff;
        margin-top: 100px;
        padding: 80px 20px;
}
.contacto .contenedor-contacto{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    text-align: center;
    padding-bottom: 30px;
}
.contacto .contenedor-contacto .fila{
    display: flex;
}
.contacto .contenedor-contacto .fila .col{
    width: 50%;
}
.contacto .contenedor-contacto .info{
    margin-bottom: 30px;
    border-left: 3px solid #8d8d8d;
    padding-left: 8px;
}
.contacto .contenedor-contacto .info p{
    color: #8d8d8d;
}
.contacto input, .contacto textarea{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    border: 1px solid #8d8d8d ;
    margin-bottom: 20px;
    outline: none;
    color: #00ccff;
}
.contacto .btn{
    background-color: none;
    padding: 5px 40px;
    border: 2px solid;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to right, #ec75f7, #24cef8);
}






@media (max-width:576px) {
    
    .box{
        width:fit-content;
        background-image: linear-gradient(180deg, #fd75e78a 40%, #69c5fa79 60%);
    }
    #inicio{
        
        background-image: url(../img/anders-jilden-uwbajDCODj4-unsplash.jpg);
        
    }
    

    #barra{
        background-image: linear-gradient(180deg, #ffffff 40%, #bee4fa 60%);
    }
    #sobremi{
        
        align-items: center;
        align-content: center;

    }
    
    #acercademi{
        display: flex;
        align-self: center;
    }
    #titulonombre{
        display:flex ;
        float: initial;
    }
    .nav-link.text{
        color:#131f64;
        
    }
    #carouselExampleCaptions{
        margin: 0cm;
    }
    
}